{% load dashboard_tags %}{% if field %}
<div class="field{% if field.errors %} has-error{% endif %}{% if field|is_checkbox %} field--check{% endif %}{% if field|is_image %} field--image{% endif %}" data-field="{{ field.name }}">
  {% if field|is_checkbox %}
    <label class="check" for="{{ field.id_for_label }}">{{ field }} <span>{{ field.label }}</span></label>
  {% else %}
    <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}<em>*</em>{% endif %}</label>
    {{ field }}
  {% endif %}
  {% if field.help_text %}<small class="help">{{ field.help_text|safe }}</small>{% endif %}
  {% for error in field.errors %}<small class="error">{{ error }}</small>{% endfor %}
</div>
{% endif %}
